<header>
    <div class="page-header">
        <h1>
            <a href="/blog">
                <span>ermin</span> muratović <span>blog</span>
                <p>digital design and development expert</p>
            </a>
        </h1>
        <div class="menu-toggle">
            <input type="checkbox" id="showmenucheckbox"/>
            <span></span>
            <span></span>
            <span></span>
            <nav id="menu">
                <ul>
                    <li><a href="/">Homepage</a></li>
                    <li><a href="javascript:void(0)" onclick="scrollToContact()" class="primary">Contact Me!</a>
                </ul>
            </nav>
        </div>
    </div>
</header>