<footer class="page-footer">
    <div class="impressum">
        <h2>Impressum</h2>
        <p>Ermin Muratović</p>
        <p>Rosentaler Straße 103/3</p>
        <p>9020 Klagenfurt am Wörthersee</p>
        <br/>
        <p>UID: ATU69487423</p>
        <p>Behörde gem. ECG: Magistrat der Stadt Klagenfurt</p>
        <br/>
        <a href="https://www.wkoecg.at/Web/Ecg.aspx?FirmaID=68532e82-4716-49d8-9d75-50102b06e38f">Informationspflicht
            lt. ECG und Mediengesetz wko.at</a>
    </div>
    <p class="copyright">&copy; 2017 - Handcrafted by Ermin Muratović</p>
</footer>