<header>
    <div class="page-header">
        <h1>
            <span>ermin</span> muratović
            <p>digital design and development expert</p>
        </h1>
        <div class="menu-toggle">
            <input type="checkbox" id="showmenucheckbox"/>
            <span></span>
            <span></span>
            <span></span>
            <nav id="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact" class="primary">Contact Me!</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>