<header>
    <div class="page-header">
        <div class="page-logo">
            <div class="d-flex">
                <h1 class="color fp-01-regular"><span class="fp-84-regular">e</span>rmin</h1>
                <h1 class="fp-01-regular">muratović</h1>
            </div>
            <p>digital design and development expert</p>
        </div>
        <div class="menu-toggle">
            <input type="checkbox" id="showmenucheckbox"/>
            <span></span>
            <span></span>
            <span></span>
            <nav id="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact" class="primary">Contact Me!</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>