<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }}</title>

    <meta name="author" content="Ermin Muratović">
    <meta name="description" content="{{ page.content | strip_html | truncatewords:175 }}">
    <meta name="language" content="en">
    <meta name="city" content="Klagenfurt">
    <meta name="country" content="Austria">
    <meta name="state" content="Carinthia">
    <meta name="zipcode" content="9020">
    <meta name="geo.region" content="AT">
    <meta name="geo.placename" content="Klagenfurt">
    <!-- TODO: meta name="geo.position" content="46.62;13.84" /-->
    <meta name="robots" content="index, follow">
    
    <meta name="verification" content="8d7e787cab1cb5fbf63047d3f5ef290c" />

    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.erminmuratovic.com">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.content | strip_html | truncatewords:175 }}">
    <meta property="og:image" content="{{ page.image }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="erminmuratovic.com">

    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@erminm">
    <meta property="twitter:creator" content="@erminm">
    <meta property="twitter:url" content="http://www.erminmuratovic.com">
    <meta property="twitter:title" content="{{ page.title }}">
    <meta property="twitter:description" content="{{ page.content | strip_html | truncatewords:175}}">
    <meta property="twitter:image" content="{{ page.image }}">

    <meta rel="author" href="https://plus.google.com/+ErminMuratovic">
    <link rel="shortcut icon" href="http://gravatar.com/avatar/2c3595494e77b03b6178458d51f32fb1?s=32" type="image/x-icon">
    <meta name="theme-color" content="#e3e4e5">

    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans|Montserrat:100,300,500,700,900">
    <link rel="stylesheet" href="/components/fontawesome-pro-5.0.1/css/fontawesome-all.min.css">

    {% include google-analytics.html %}

</head>
