/*
 * GENERAL
 */

body {
    font-family: "Montserrat", "Open Sans", "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
}

h1 {
    margin-bottom: 30px;
}

a, a:focus, a:active, a:visited {
    color: #00b4ff;
}
a:hover {
    color: #0088ff;
}
a.current {
    border-bottom: #0088ff;
}

button.rotate-icon i {
    transition: transform 0.5s ease;
}
button.rotate-icon:hover i {
    transform: rotate(90deg);
}

.fadeIn {
    animation: fadeIn 1s ease 1.75s;
    animation-fill-mode: both;
    opacity: 1;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*
 * HEADER
 */
header {
    position: absolute;
    width: 100%;
}
header .page-header {
    display: flex;
    flex-direction: row;
    padding: 40px 5vw;
}
header h1 {
    margin: 0px;
    font-weight: 100;
}
header h1 span {
    font-weight: 300;
    color: #4a071e;
    background: #e91e63;
    background: linear-gradient(to right, #e91e63 0%, #4a071e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
header h1 p {
    font-size: .4em;
}

header .menu-toggle {
    flex: 1;
    z-index: 1;
    position: fixed;
    right: 5vw;
    user-select: none;
}
header .menu-toggle input {
    position: absolute;
    display: block;
    width: 40px;
    height: 32px;
    left: 16px;
    margin-top: 10px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}
header .menu-toggle span {
    display: block;
    width: 33px;
    height: 2px;
    margin-left: 20px;
    margin-bottom: 5px;
    position: relative;
    background: #4a071e;
    background: linear-gradient(to right, #e91e63 0%, #4a071e 100%);
    border-radius: 3px;
    z-index: 1;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

header .menu-toggle span:nth-last-child(4) {
    margin-top: 18px;
}
header .menu-toggle span:nth-last-child(2) {
    margin-bottom: 20px;
}

header .menu-toggle input:checked ~ span {
    opacity: 1;
    background: #232323;
    transform: rotate(225deg) translate(-5px, -5px);
}
header .menu-toggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
header .menu-toggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-225deg) translate(-4px, 4px);
}

nav#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 5vw;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;

    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.menu-toggle input:checked ~ nav#menu {
    transform: none;
}

nav#menu ul {
    margin: 5vw 0px;
    font-size: 1.6em;
    line-height: 1.6em;
}

nav#menu ul li {
    margin: 10px;
}

nav#menu ul li a {
    color: #000;
    padding: 10px 15px;
    text-decoration: none;
}
nav#menu ul li a:hover {
    color: #e91e63;
}
nav#menu ul li a.current {
    color: #e91e63;
    border-bottom: 1px solid #e91e63;
}
nav#menu ul li a.primary {
    color: #e91e63;
    border: 1px solid #e91e63;
    border-radius: 10px;
    line-height: 3em;
}
nav#menu ul li a.primary:hover {
    border: 2px solid #e91e63;
}

/*
 * CONTENT
 */

.banner {
    display: flex;
    flex-direction: column;

    background: #fff;
    line-height: 2em;
    padding: 150px 5vw 0 5vw;
    background: linear-gradient(to bottom right, #fff 0%, #f0f0f0 100%);
}
.banner > div {
    flex: 1;
}

.banner .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner .text h1 {
    margin-left: -3px;
    margin-bottom: 10px;
}
.banner .text p {
    color: #696969;
    margin-bottom: 15px;
}
.banner .text p.first {
    color: #000;
    font-weight: 500;
}

.banner .image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.banner .image img {
    max-height: 90vh;
}

.banner button {
    color: #000;
    background: #e91e63;
    border: none;
    padding: 15px 20px;
    font-size: 1em;
    margin-bottom: 30px;
}
.banner button i {
    margin-left: 5px;
}

.banner .social {
    padding: 0;
}

.expertin {
    padding: 100px 5vw;
}

.expertin .expertin-list {
    display: flex;
    flex-direction: column;
}

.expertin .expertin-list .expertin-item {
    flex: 1;
    padding-right: 3vw;
}

.expertin .expertin-list .expertin-item i {
    margin: 30px 0px;
}

.portfolio {
    padding: 100px 5vw;
}

.portfolio .portfolio-list {
    display: flex;
    flex-direction: column;
}

.portfolio .portfolio-list .portfolio-item {
    flex: 1;
    position: relative;
}

.portfolio-item .overlay,
.portfolio-item .overlay-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.portfolio-item .overlay {
    background: #ccc;
    opacity: .6;
}
.portfolio-item .overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-item a {
    color: #000;
    border: 1px solid #000;
    padding: 10px;
}

.social {
    padding: 20px 5vw;
}
.social .social-list {
    display: flex;
    flex-direction: row;
}
.social .social-button {
    margin: 10px 10px 10px -8px;
}
.social .social-button a {
    color: #696969;
    padding: 5px 10px;
}
.social .social-button a.linkedin:hover {
    color: #0077b5;
}
.social .social-button a.facebook:hover {
    color: #3b5998;
}
.social .social-button a.twitter:hover {
    color: #1da1f2;
}
.social .social-button a.instagram:hover {
    color: #cd486b;
}
.social .social-button a.github:hover {
    color: #000;
}

/*
 * FOOTER
 */
footer {
    padding: 5vw;
}

footer p.copyright {
    font-size: .8em;
}

/* Extra small devices (phones, less than 600px) */
/* No media query since this is the default */
body { font-size: 18px; letter-spacing: 1px; }

/* Small devices (tablets, 600px and up) */
@media (min-width: 600px) {
}

/* Medium devices (desktops, 960px and up) */
@media (min-width: 960px) {

    header .menu-toggle {
        position: relative;
    }

    header .menu-toggle input,
    header .menu-toggle span {
        display: none;
    }

    nav#menu {
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        height: auto;
        padding: 5px;
        background: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        transform: translate(0,0);
    }
    nav#menu ul {
        width: 80vw;
        margin: 0;
        font-size: 1em;
        line-height: 1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    nav#menu ul li a.primary {
        margin: 0px 10px;
        line-height: 1em;
    }

    .banner {
        flex-direction: row;
    }

    .expertin .expertin-list {
        flex-direction: row;
    }

    .portfolio .portfolio-list {
        flex-direction: row;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}